.mainBody { 
    display: none;
}

.mdl-card { 
   
   
}
p {
    font-size: 2.4em; 
    line-height: 2.5em; 
    text-shadow: 1px 1px black; 
    color: white;
    
}

 .bodyImg { 
    width: 70%;
   padding: 1%;
 }

 .clientImg { 
     width: 30%; 
     border-radius: 555px;

 }

 .ClientDiv {
     padding-top: 100px; 
     padding-left: 5%;
 }
@media screen  and (min-width: 501px) and (max-device-width : 1200px) {

}


@media screen and (max-device-width : 500px) {
    .mdl-card { 
        width: 80%; 
        margin: 5%;
    }
    
    .bodyImg { 
        width: 96%; 
        
    }
    
    p{
        font-size: 2.5em;
        line-height: 1.5em;
        color :rgb(124, 23, 23);
    }

    .clientImg { 
        width: 60%; 
        margin-left: 20%;
        margin-bottom: 2%;
        margin-right: auto;
        /* padding-left: 20%; */
        border-radius: 555px;
        
   
    }
   
    .ClientDiv {
        padding-top: 400px; 
        /* padding-right: auto;
        padding-left: auto; */
        margin-left: auto;
        margin-right: auto;
    }

}