/* 
table { 
   
    padding: inherit;
    /*border: 4px rgba(0,0,0, 0.2) solid;
    border-style: inset;
}

tr { 
    
    
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*/
.mdl-data-table td{ 
   
    text-align: center;
    
  
   
    color: white;
} 
.mdl-card { 
    color: white;
}
.styletitle { 
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px grey;
}

.blurredMain { 
    background-color:rgba(17, 5, 5, 0.7);
    padding-left: 8%;
}

.styleimg { 
    border-radius: 25px;
}

.mainImgLg { 
    width: 60%;
}

.phone { 
    background: grey;
    padding: 5px; 
    color: white;
    border-radius: 25px;
}

.tdName { 
    text-align: left;
    width: 25%;
    font-size: 2.0em;
}

.tdPrice {
    text-align: left;
    width: 15%;
    font-size: 1.8em;
}
p { 
   font-size: 1.2em;
   line-height: 2em;
}
 
.email { 
    color: rgb(62, 145, 62);
    text-decoration: none;
    background: rgb(143, 86, 86);
    padding: 5px; 
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px darkgrey;
}
@media screen  and (min-width: 501px) and (max-device-width : 1200px) {
    
    /* table { 
        width: 100%;
        border: 1px solid black; 
        text-align: center; 
        box-shadow: 3px 3px grey; 
    }

    tr { 
        text-align: center;
 
    }
    th { 
        font-size: 1.2em; 
    }

    td { 
        padding: 3%;
        text-align: center;
    } */
    .styleimg { 
        display: none; 
    }
}

@media screen  and (min-width: 501px) and (max-device-width : 1200px) {

}


@media screen and (max-device-width : 500px) {

    

    .styletitle {
        font-size: 1.8em;
    }

    .tdName{
        font-size: 1.7em;
    }

    .tdPrice {
        font-size: 1.7em;
    }

    .mdl-navigation { 
        display: hide;
    }
.table-card { 
    width: auto;
}
.mdl-data-table__cell
{
    font-size: 1.5em;
    
}

.blurred{ 
    background-color:rgba(190, 163, 163, 0.4);
 
    
}
}